.contextmenuCode {
	position: absolute;
	z-index: 99999;
	padding: 0.5em;
	background: #eee;
	box-shadow: 0 0 3px 0 #000;


	& .option {
		padding: 2px 15px;
		color: #222;
		cursor:pointer;
		border: 1px dashed #eee;
		&:hover{
			border: 1px dashed #ccc;
		}
	}


}